body {
  margin: 0;
}

main {
  background: url(/week4-riter/img/back1.svg) no-repeat,
    url(/week4-riter/img/back2.svg) no-repeat,
    url(/week4-riter/img/back3.svg) no-repeat;
  background-position: right top 66%, left top 15%, left top 73%;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

p {
  font-family: "GothamProMedium";
  font-size: 15px;
  margin: 0;
}

h2 {
  font-family: "Futura New Medium";
  letter-spacing: 0.05em;
}

h4 {
  font-family: "GothamProMedium";
  letter-spacing: 0.1em;
}

h5 {
  font-family: "GothamProMedium";
  font-size: 16px;
  letter-spacing: 0.1em;
}

.font-10px {
  font-family: "Futura Light Regular";
  font-size: 10px;
  letter-spacing: 0.1em;
  display: inline-block;
  vertical-align: middle;
}

.font-10px.chair-font {
  font-family: "Futura Light Regular";
  font-size: 10px;
  letter-spacing: 0.1em;
  display: block;
}

.h2-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation {
  background-color: black;
  height: 40px;
}

.navigation-menu {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.navigation-menu > a {
  text-decoration: none;
  transition: 0.2s;
}
.navigation-menu > a:hover {
  opacity: 0.6;
}

.navigation-menu > a > div {
  padding-top: 15px;
  font-family: "GothamProRegular";
  color: white;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-right: 39px;
  vertical-align: middle;
}

.navigation-menu > a:nth-child(6) > .nav-menu {
  position: absolute;
  right: 0;
  padding-right: 0px !important;
}

.nav-menu > img {
  margin-left: 13px;
}

.flex-container {
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.2s;
}

.flex-item:hover {
  opacity: 0.6;
}

.flex-item:nth-child(1) > img {
  margin-right: 10px;
}

.flex-item:nth-child(2) > img {
  margin-right: 10px;
  margin-left: 14px;
}

.flex-item:nth-child(3) {
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f3f3f3;
  flex-basis: 200px;
}

.flex-item:nth-child(4) > img {
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item:nth-child(5) {
  position: relative;
}

.flex-item:nth-child(5) > img {
  margin-left: 13px;
}

.cart {
  max-width: 100px;
}
.counter {
  width: 26px;
  height: 17px;
  border-radius: 20%;
  background-color: black;
  position: absolute;
  top: 20%;
  right: 0;
}

.counter > p {
  color: white;
  font-family: "Futura New";
  font-size: 12px;
  letter-spacing: 0.2em;
  position: absolute;
  right: 28%;
  z-index: 1;
}

.counter-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid black;
  top: 28%;
  right: 5%;
}

.menu {
  padding: 22px 0;
  align-items: center;
  border-top: 1px solid rgba(234, 235, 237, 0.6);
}

.menu > .container > .row {
  justify-content: space-between;
}

.row > a {
  text-decoration: none;
  color: black;
}

.menu > .container > .row > a > .col {
  cursor: pointer;
  transition: 0.2s;
}

.menu > .container > .row > a > .col:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.menu > .container > .row > a > .col > p {
  font-family: "GothamProBold";
  font-size: 11.3px;
  letter-spacing: 0.1em;
  text-align: center;
}

.menu > .container > .row > a > .col > img {
  display: block;
  margin: 0 auto;
  opacity: 30%;
}

.menu > .container > .row > a:nth-child(7) > .col > img {
  padding-bottom: 4px;
}

.menu > .container > .row > a:nth-child(8) > .col > img {
  padding-bottom: 5px;
}

.menu > .container > .row > a > .col > p {
  margin-top: 10px;
}

.rectangle {
  width: 0;
  height: 0;
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 6px solid black;
  position: absolute;
  right: 11%;
  top: 83%;
}

.rectangle-circle {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  right: 27%;
  top: 85%;
}
/*  FOOTER  */

.footer {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
}

.footer-front {
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: 47px;
}

.footer-front > .col-2 > ul li {
  cursor: pointer;
  transition: 0.2s;
}

.footer-front > .col-2 > ul li:hover {
  opacity: 0.6;
}

.footer-front > .col-4 {
  position: absolute;
  right: 0;
  padding-right: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  color: white;
  font-family: "Futura New Regular";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin-bottom: 8px;
}

ul > p {
  font-family: "Futura New Medium";
  color: white;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}

.feedback > form {
  right: 0;
  text-align: right;
  padding-bottom: 20px;
}

.feedback > form > input {
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 18px;
  font-family: "Futura Light Regular";
  padding-bottom: 15px;
  padding-right: 120px;
  outline: none;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.verified {
  width: 30px;
  height: 30px;
  background-color: #1d1c1c;
  border-radius: 9px;
  position: absolute;
  right: 0;
  border: none;
  bottom: 22%;
  transition: 0.2s;
  cursor: pointer;
}

.verified:hover {
  opacity: 0.6;
}

.social {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.social > a:hover {
  opacity: 0.6;
}

.justify-content-between {
  color: #fff;
}

.justify-content-between > .col-2 > ul > p {
  font-family: "Futura Light Regular";
  font-size: 9px;
  transition: 0.2s;
  cursor: pointer;
}

.justify-content-between > .col-2 > ul > a {
  font-family: "Futura Light Regular";
  font-size: 9px;
  text-decoration: underline;
  text-underline-position: under;
  position: absolute;
  right: 0;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
}

.justify-content-between > .col-2 > ul > p:hover,
a:hover {
  opacity: 0.6;
}

/* MEDIA */

@media (min-width: 1280px) {
  .navigation-menu {
    width: 1134px;
  }

  .flex-container {
    width: 1134px;
  }

  .menu {
    width: 1134px;
    margin: 0 auto;
  }

  .footer-front {
    width: 1134px;
  }
}

@media (max-width: 1280px) {
  .navigation-menu {
    width: 740px;
  }

  .flex-container {
    width: 740px;
    flex-wrap: wrap;
  }

  .menu {
    width: 740px;
    margin: 0 auto;
  }

  .footer-front {
    width: 740px;
  }

  .row > a:nth-child(8) {
    display: none;
  }

  .row > a:nth-child(9) {
    display: none;
  }

  .feedback > form > input {
    padding-right: 0;
  }

  .flex-item:nth-child(3) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navigation-menu {
    width: 90%;
  }

  .flex-container {
    width: 90%;
  }

  .menu {
    width: 90%;
    margin: 0 auto;
  }

  .footer-front {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.info-product {
  margin-top: 13px;
  opacity: 0.4;
}

.in-stock {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.chair-cart-name {
  font-family: "Futura New";
  font-size: 17px;
  letter-spacing: 0.2em;
}

.old-price {
  font-family: "Futura New Medium";
  font-size: 14px;
  text-decoration-line: line-through;
  opacity: 0.3;
  padding-left: 11px;
}

.kolbins {
  font-family: "Futura Light Regular";
  font-size: 10px;
}

.chair {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
  max-width: 2000px;
  margin: 80px auto;
}

.chair-flex {
  position: relative;
  width: 49%;
  background-color: #f3f3f3;
  background-image: url(../img/336-HFR8_7.png);
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: darken;
  margin: 5px;
}

.chair-info {
  position: absolute;
  top: 7%;
  left: 7%;
}

.p1 {
  font-family: "GothamProMedium";
  font-size: 32px;
  width: 50%;
}

.p2 {
  font-family: "GothamProRegular";
  font-size: 15px;
  opacity: 0.5;
  width: 40%;
  margin-top: 26px;
}

.btn.more {
  width: 20%;
  height: 40px;
  margin-top: 120px;
  background: linear-gradient(93.8deg, #807fd4 0%, #609ce2 0.01%, #2346ff 100%);
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
  border-radius: 4px;
  color: #fff;
  font-family: "GothamProMedium";
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.chair-flex:nth-child(3n + 2) {
  background-color: #fff;
}

.chair-flex:nth-child(3n) {
  background-color: #fff;
}

.about {
  background-image: url(../img/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-position-y: 20%;
  background-size: 65%;
  margin: 60px auto;
  max-width: 2000px;
}

.about .row p {
  font-family: "GothamProRegular";
  font-size: 16px;
  line-height: 29px;
}

.about .col {
  margin-top: 50px;
}

.about-more {
  position: relative;
  cursor: pointer;
  position: relative;
  margin: 40px 0;
}

.about-more img {
  position: absolute;
  top: 37%;
  right: 15%;
}

.brand .row {
  justify-content: center;
}

.brand .col-lg-2 {
  padding: 18px 16px;
}

.heading {
  font-family: "GothamProBold";
  font-size: 37px;
  text-align: center;
  margin: 50px;
  text-align: left;
  width: 90%;
}

.heading.about-company {
  font-family: "GothamProBold";
  font-size: 37px;
  text-align: center;
  margin: 50px;
  width: 90%;
}

.reviews-designers .container .col,
.col-sm-5 {
  position: relative;
}

.reviews-designers .container .col-sm-5 p {
  color: black;
}

.reviews-designers .container .col .arrow {
  position: absolute;
  top: 30%;
  left: 100%;
}

.reviews-designers {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.reviews-designers a {
  text-decoration: none;
  color: black;
}

.arrow {
  opacity: 0.4;
}

.arrows {
  position: absolute;
  right: 3%;
  top: 10%;
}

.reviews-designers .container .justify-content-start {
  margin: 100px 0;
}

.reviews-img img {
  clip-path: circle(50% at 50% 50%);
  max-width: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reviews-info {
  display: flex;
}

.reviews-text p {
  font-family: "Futura New Medium";
  font-size: 20px;
  padding-left: 15px;
}

.reviews-comment {
  width: 90%;
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
  border-top-left-radius: 0;
  margin-top: 20px;
  box-shadow: -10px 14px 60px rgba(0, 0, 0, 0.07);
}

.reviews-comment p {
  color: black;
  font-size: 16px;
  font-family: "Futura New Medium";
  line-height: 23px;
}

.col.reviews:nth-child(2) {
  opacity: 0.5;
}

.carousel {
  padding: 5px;
  width: 100%;
  background-image: url(/week4-riter/img/carousel.png);
  background-repeat: repeat-x;
  background-size: 110%;
  background-position: center;
  position: relative;
}

.subscribe {
  display: flex;
  background-color: #fff;
  padding: 30px;
  box-shadow: -20px 4px 54px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 25%;
  left: 15%;
  border-radius: 6px;
  align-items: center;
}

.subscribe .col a {
  text-decoration: none;
  color: black;
}

.btn.subs {
  height: 40px;
  background: linear-gradient(93.8deg, #807fd4 0%, #609ce2 0.01%, #2346ff 100%);
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
  border-radius: 4px;
  color: #fff;
  font-family: "GothamProMedium";
  font-size: 13px;
  border: none;
  padding: 0 30px;
  cursor: pointer;
}

.slider {
  display: flex;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

.back-text {
  font-family: "GothamProNarrow";
  font-size: 800px;
  color: #fff;
  background-color: #f5f5f5;
  overflow: hidden;
  line-height: 72%;
}

.item {
  display: flex;
  position: absolute;
  right: 0;
}

.slide-info {
  position: absolute;
  left: 10%;
  top: 10%;
}

.slide-info p {
  font-family: "GothamProMedium";
  font-size: 69px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  width: 80%;
}

.btn.slide {
  height: 50px;
  background: linear-gradient(93.8deg, #807fd4 0%, #609ce2 0.01%, #2346ff 100%);
  box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
  border-radius: 4px;
  color: #fff;
  font-family: "GothamProMedium";
  font-size: 13px;
  border: none;
  padding: 0 30px;
  cursor: pointer;
  margin-top: 50px;
  display: block;
  transition: 0.2s;
}

.btn.slide:hover {
  opacity: 0.7;
}

.slide-info span {
  font-family: "Georgia";
  font-size: 21px;
  opacity: 0.7;
}

.slider .row .col p {
  font-family: "GothamProMedium";
  font-size: 60px;
}

.slider-pagination {
  z-index: 2;
  margin-top: 180px;
}

.pagination-dots {
  width: 10px;
  height: 6px;
  background-color: #d7e4f4;
  display: inline-block;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
}

.pagination-dots:hover {
  background-color: #aeb9c7;
}

.pagination-dots.active {
  width: 44px;
  background-color: #2d54fb;
}

.pagination-dots.active:hover {
  width: 44px;
  background-color: #2141d1;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about-more {
  transition: 0.2s;
}

.about-more:hover {
  opacity: 0.5;
}

.long-arrow-right {
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(135deg);
  top: 42%;
  right: 15%;
}

.long-arrow-right.blog {
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(135deg);
  top: 85%;
  left: 45%;
}

.long-arrow-right.blog2 {
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(135deg);
  top: 60%;
  left: 95%;
}

.long-arrow-right.reviews {
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(135deg);
  left: 107%;
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 1px;
  height: 45px;
  background-color: black;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.blog-mebel .container .col-sm-5 .heading {
  text-align: left;
  margin-left: 10%;
}

.blog-heading {
  font-family: "GothamProBold";
  font-size: 37px;
  margin: 50px;
  color: black;
  letter-spacing: 0.1em;
  width: 95%;
}

.blog-mebel .container .col-sm-5 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog-mebel {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.blog-mebel .col-sm-5 a {
  padding: 0 5px;
}

.blog-mebel a {
  text-decoration: none;
  color: black;
}

.blog-mebel .container .justify-content-start {
  margin: 100px 0;
}

.blog-mebel .col-sm-5 .row .col a p {
  opacity: 0.4;
}

.reviews-img img {
  clip-path: circle(50% at 50% 50%);
  max-width: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reviews-info {
  display: flex;
}

.reviews-text p {
  font-family: "Futura New Medium";
  font-size: 20px;
  padding-left: 15px;
}

.reviews-comment {
  width: 90%;
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
  border-top-left-radius: 0;
  margin-top: 20px;
  box-shadow: -10px 14px 60px rgba(0, 0, 0, 0.07);
}

.reviews-comment p {
  color: black;
  font-size: 16px;
  font-family: "Futura New Medium";
  line-height: 23px;
}

.read {
  position: relative;
  display: flex;
  margin: 20px 0;
  padding-top: 40px;
}

.read p {
  font-size: 12px;
  padding-top: 3px;
}

.read a img {
  padding: 0 10px;
}

.blog-mebel .container .row .col-sm {
  background-color: #fff;
  padding: 0px;
  margin: 10px;
  box-shadow: -30px 24px 84px rgba(0, 0, 0, 0.04);
}

.blog-mebel .container .row .col-sm img {
  width: 100%;
}

.article-info {
  padding: 5px 15px;
}
