//fonts
$roboto: "Roboto", sans-serif;
$motnserrat: "Montserrat", sans-serif;

//colors
$blue1: #42b1ba;
$blue2: #4fc2cb;
$gray1: #36425b;
$gray3: #ececec;
$textgray1: #3f3f3f;
$textgray2: #1e273a;
$textgray3: #c2c2c2;
$textgray4: #7f7f7f;
$gray-superlight: #f6f6f6;
$gray-line: #e2e2e2;
$red1: #e54b43;
$yellow: #ffbc3d;

//media-mobile
$breakpoint-320: 320px;
$breakpoint-568: 568px;

//media-laptops
$breakpoint-1200: 1200px;
$breakpoint-1600: 1600px;
