body {
  margin: 0;
}

p {
  font-family: "GothamProMedium";
  font-size: 15px;
  margin: 0;
}

.navigation {
  background-color: black;
  height: 40px;
}

.navigation-menu {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.navigation-menu > a {
  text-decoration: none;
  transition: 0.2s;
}
.navigation-menu > a:hover {
  opacity: 0.6;
}

.navigation-menu > a > div {
  padding-top: 15px;
  font-family: "GothamProRegular";
  color: white;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-right: 39px;
  vertical-align: middle;
}

.navigation-menu > a:nth-child(6) > .nav-menu {
  position: absolute;
  right: 0;
  padding-right: 0px !important;
}

.nav-menu > img {
  margin-left: 13px;
}

.flex-container {
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.2s;
}

.flex-item:hover {
  opacity: 0.6;
}

.flex-item:nth-child(1) > img {
  margin-right: 10px;
}

.flex-item:nth-child(2) > img {
  margin-right: 10px;
  margin-left: 14px;
}

.flex-item:nth-child(3) {
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f3f3f3;
  flex-basis: 200px;
}

.flex-item:nth-child(4) > img {
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item:nth-child(5) {
  position: relative;
}

.flex-item:nth-child(5) > img {
  margin-left: 13px;
}

.counter {
  width: 26px;
  height: 17px;
  border-radius: 20%;
  background-color: black;
  position: absolute;
  top: 20%;
  right: 0;
}

.counter > p {
  color: white;
  font-family: "Futura New";
  font-size: 12px;
  letter-spacing: 0.2em;
  position: absolute;
  right: 30%;
  z-index: 1;
}

.counter-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid black;
  top: 28%;
  right: 5%;
}

.menu {
  padding: 22px 0;
  align-items: center;
  border-top: 1px solid rgba(234, 235, 237, 0.6);
}

.menu > .container > .row {
  justify-content: space-between;
}

.row > a {
  text-decoration: none;
  color: black;
}

.menu > .container > .row > a > .col {
  cursor: pointer;
  transition: 0.2s;
}

.menu > .container > .row > a > .col:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.menu > .container > .row > a > .col > p {
  font-family: "GothamProBold";
  font-size: 11.3px;
  letter-spacing: 0.1em;
  text-align: center;
}

.menu > .container > .row > a > .col > img {
  display: block;
  margin: 0 auto;
  opacity: 30%;
}

.menu > .container > .row > a:nth-child(7) > .col > img {
  padding-bottom: 4px;
}

.menu > .container > .row > a:nth-child(8) > .col > img {
  padding-bottom: 5px;
}

.menu > .container > .row > a > .col > p {
  margin-top: 10px;
}

.rectangle {
  width: 0;
  height: 0;
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 6px solid black;
  position: absolute;
  right: 11%;
  top: 83%;
}

.rectangle-circle {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  right: 27%;
  top: 85%;
}
/*  FOOTER  */

.footer {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
}

.footer-front {
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-top: 47px;
}

.footer-front > .col-2 > ul li {
  cursor: pointer;
  transition: 0.2s;
}

.footer-front > .col-2 > ul li:hover {
  opacity: 0.6;
}

.footer-front > .col-4 {
  position: absolute;
  right: 0;
  padding-right: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  color: white;
  font-family: "Futura New Regular";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin-bottom: 8px;
}

ul > p {
  font-family: "Futura New Medium";
  color: white;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}

.feedback > form {
  right: 0;
  text-align: right;
  padding-bottom: 20px;
}

.feedback > form > input {
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 18px;
  font-family: "Futura Light Regular";
  padding-bottom: 15px;
  padding-right: 120px;
  outline: none;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.verified {
  width: 30px;
  height: 30px;
  background-color: #1d1c1c;
  border-radius: 9px;
  position: absolute;
  right: 0;
  border: none;
  bottom: 22%;
  transition: 0.2s;
  cursor: pointer;
}

.verified:hover {
  opacity: 0.6;
}

.social {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.social > a:hover {
  opacity: 0.6;
}

.justify-content-between {
  color: #fff;
}

.justify-content-between > .col-2 > ul > p {
  font-family: "Futura Light Regular";
  font-size: 9px;
  transition: 0.2s;
  cursor: pointer;
}

.justify-content-between > .col-2 > ul > a {
  font-family: "Futura Light Regular";
  font-size: 9px;
  text-decoration: underline;
  text-underline-position: under;
  position: absolute;
  right: 0;
  transition: 0.2s;
  cursor: pointer;
}

.justify-content-between > .col-2 > ul > p:hover,
a:hover {
  opacity: 0.6;
}

/* MEDIA */

@media (min-width: 1280px) {
  .navigation-menu {
    width: 1134px;
  }

  .flex-container {
    width: 1134px;
  }

  .menu {
    width: 1134px;
    margin: 0 auto;
  }

  .footer-front {
    width: 1134px;
  }
}

@media (max-width: 1280px) {
  .navigation-menu {
    width: 740px;
  }

  .flex-container {
    width: 740px;
    flex-wrap: wrap;
  }

  .menu {
    width: 740px;
    margin: 0 auto;
  }

  .footer-front {
    width: 740px;
  }

  .row > a:nth-child(8) {
    display: none;
  }

  .row > a:nth-child(9) {
    display: none;
  }

  .feedback > form > input {
    padding-right: 0;
  }

  .flex-item:nth-child(3) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navigation-menu {
    width: 90%;
  }

  .flex-container {
    width: 90%;
  }

  .menu {
    width: 90%;
    margin: 0 auto;
  }

  .footer-front {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
