body {
  display: flex;
  flex-flow: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.block1 {
  background-color: #00ff00;
  min-width: 130px;
  height: 130px;
}
.block2 {
  background-color: #0000ff;
}

.wrapper {
  border: solid 5px #000;
  padding: 20px;
  margin: 5px auto;
}

p {
  font-size: 30px;
  margin: 0;
  word-wrap: normal;
}

._type1 > .block1 {
  float: left;
}

._type1 > .block2 {
  padding-right: 20px;
}

._type2 {
  display: flex;
}

._type2 > .block2 {
  padding-right: 45px;
}

._type3 {
  display: flex;
  flex-direction: row-reverse;
}

._type3 > .block2 {
  float: left;
  padding-right: 25px;
}

._type3 > .block1 {
  margin-left: 25px;
}

._type4 {
  position: relative;
}

._type4 > .block1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._type4 > .block2 {
  padding-right: 45px;
}

._type5 {
  display: inline-table;
  flex-direction: row-reverse;
}

._type5 > .block1 {
  height: 250px;
  float: right;
  margin-left: 25px;
}

._type5 > .block2 {
  padding-right: 200px;
  margin-right: 160px;
}

._type6 > .block1 {
  position: relative;
  float: left;
  left: 30%;
  top: 90px; /* в % не двигается :( */
}

._type6 > .block2 {
  padding-right: 20px;
}
