footer.footer-bottom 
    .container 
        .footer-bottom__item 
            .header__logo 
                a(href="")
                    p.logo-big
                        span.logo-big__red S 
                        span.logo-big__blue1 O 
                        span.logo-big__white M 
                .logo-small 
                    p.font_400.color_gray5.margin-left © 2019 Solma
            .information 
                a(href="")
                    p.information__item.font_400.color_gray5 Terms of Use
                a(href="")
                    p.information__item.font_400.color_gray5 Privacy
                a(href="")
                    p.information__item.font_400.color_gray5 Interest-based ads
