.footer-wrapper
    .container 
        .footer 
            .footer__item 
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px Store 
                a(href="") 
                    p.footer-text.font_400.color_gray Подарочные сертификаты
                a(href="") 
                    p.footer-text.font_400.color_gray Seller-online блог
            .footer__item 
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px Sell 
                a(href="") 
                    p.footer-text.font_400.color_gray Sell on SOM
                a(href="") 
                    p.footer-text.font_400.color_gray Forums
            .footer__item 
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px About 
                a(href="") 
                    p.footer-text.font_400.color_gray Seller-online, inc.
                a(href="") 
                    p.footer-text.font_400.color_gray Policies
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px Investors 
                a(href="") 
                    p.footer-text.font_400.color_gray Careers
                a(href="") 
                    p.footer-text.font_400.color_gray Press
                a(href="") 
                    p.footer-text.font_400.color_gray Impact
                a(href="") 
                    p.footer-text.font_400.color_gray Legal imprint
            .footer__item 
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px Follow SOM 
                a(href="") 
                    p.footer-text.font_400.color_gray Facebook
                a(href="") 
                    p.footer-text.font_400.color_gray Instagram
                a(href="") 
                    p.footer-text.font_800_montserrat.font_800_montserrat_18px Pinterest 
                a(href="") 
                    p.footer-text.font_400.color_gray Twitter
