.container 
    .menu-dropdown
        .menu-dropdown__item
            ul.menu-dropdown__item-list
                li 
                    a(href="").font_400 All
                li 
                    a(href="").font_400 Party supplies 
                li 
                    a(href="").font_400 Invitations and cards 
                    ul.list-2
                        li
                            a(href="").font_400 Party decor
                        li
                            a(href="").font_400 Baking and decorating cakes 
                        li
                            a(href="").font_400 Clothes
                li 
                    a(href="").font_400 Wedding decor 
                li 
                    a(href="").font_400 Wedding gift 
                li 
                    a(href="").font_400 Wedding accessories 
                li 
                    a(href="").font_400 Wedding jewerly 
                li 
                    a(href="").font_400 Wedding clothes 