mixin input(radioID, visible, val)
    .price-checkbox__item
        input(type="radio" id= radioID name="radio" value= val).price-checkbox__item-checkbox
        label(for= radioID).font_400= visible

aside.price-checkbox.price-checkbox-wrapper
    .price-checkbox__item
        p.font_400 Цена
    +input('radio-1', 'Любая цена', '1')
    +input('radio-2', 'Дешевле 25$', '2')
    +input('radio-3', 'От 25$ до 50$', '3')
    +input('radio-4', 'От 50$ до 100$', '4')
    +input('radio-5', 'Дороже 100$', '5')

    .price-checkbox__item
        input(type="checkbox" id= "checkbox-6" name="radio" value="6").price-checkbox__item-checkbox
        label(for="checkbox-6").font_400 Распродажа