section.read-wrapper 
    .container 
        .info-block.background_blue1 
            .info-block__item 
                .info-block-text 
                    p.info-text.small_white_width.small_white_width_34px What is Seller-online ?
            .info-block__item
                img(src="./images/people2.svg", alt="").block-img.position_absolute
            .info-block__item
                button.button.button_border_transparent Read more