mixin big-dropdown
    ul.dropdown.big-dropdown
        a(href="") 
            li Изменить данные
            li Мои товары
            li Посмотреть профиль
            li Избранные магазины
                img(src="./img/like.svg", alt="")
            li Покупка и отзывы
            li Настройки аккаунта
            li Выйти

+big-dropdown
    