mixin menu(name)
    .menu__item
        a(href="")= name

.menu
    +menu("Leather goods")
    +menu("Wood products")
    +menu("Wedding")
    +menu("Happy Birthday")
    +menu("Toys and entertaiment")
    +menu("Art objects")
    +menu("Goods and needlework")



